
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image:url('image.png');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover; 
    background-position: center;
    
}

.container {
    background: #ffffff;
 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h1 {
    margin-bottom: 20px;
    color:white;
}
h2{
    margin-bottom: 20px;
    color: #333333; 
}
h3{
    margin-bottom: 20px;
    color:white; 
}
h4{
    margin-bottom: 20px;
    color:white;
}

.buttons {
    margin-top: 20px;
}

.buttons .button {
    text-decoration: none;
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
}

.buttons .button:hover {
    background-color: #004080;
}

textarea, input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f90404;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: none;
}

#output {
    color: #555555;
    font-size: 18px;
    word-wrap: break-word;
}

h2 {
    margin-top: 20px;
}


